 <!-- Registre unique -->

      <div class="card">

                     <div class="card-body">
                                  <!-- boutton Supprimer/Modifier Régistre-->
                            {% if current_user.is_authenticated %}
                                  <div class="row">
                                    <div class="col-sm-6 pb-2"><a href="{{ url_for("deleteRegister", id_registre = registreUnique.id) }}" id ="{{registreUnique.id}}" class="btn btn-danger" onclick="suppressRegister({{registreUnique.id}})">Supprimer l'enregistrement</a></div>
                                       <div class="col-sm-6 pb-2"><a href="{{ url_for("modifier_registre", id_registre = registreUnique.id) }}" id ="{{registreUnique.id}}" class="btn btn-info" onclick="">Modifier l'enregistrement</a></div>
                                  </div>
                            {% endif %}
                                 <!-- noms et prénoms déclarés-->
                                  <div class="row">
                                    {% if not registreUnique.nomOrigine %}
                                        <div class="col-3"> <p class="font-weight-bold">Nom et prénom déclarés</p></div>
                                        <div class="col-5">- nom ou prénom non renseignés -</div>
                                    {% else %}
                                        <div class="col-3"> <p class="font-weight-bold">Nom et prénom déclarés</p></div>
                                        <div class="col-5">{{ registreUnique.nomOrigine or ' -- ' }}, {{ registreUnique.prenomOrigine or ' -- ' }}</div>
                                    {% endif %}
                                  </div>


                                {%  if code == "display" %}
                                    <!-- ID de la Personne Unique à afficher uniquement dans la page des registres-->
                                  <div class="row">
                                    {% if not registreUnique.id_personne %}
                                        <div class="col-3"> <p class="font-weight-bold">L'identifiant de la personne unique associée à l'enregistrement</p></div>
                                        <div class="col-5">- identifiant non renseigné -</div>
                                    {% else %}
                                        <div class="col-3"> <p class="font-weight-bold">L'identifiant de la personne unique associée à l'enregistrement</p></div>
                                        <div class="col-5"> <a class="page-link" href="{{ url_for('notice', identifier=registreUnique.id_personne) }}">{{ registreUnique.id_personne }}</a></div>
                                    {% endif %}
                                  </div>
                                {% endif %}

                                 <!-- Pseudonyme-->
                                  <div class="row">
                                    {% if registreUnique.pseudonyme %}
                                        <div class="col-3"> <p class="font-weight-bold">Pseudonyme</p></div>
                                        <div class="col-5">{{ registreUnique.pseudonyme }} </div>
                                    {% endif %}
                                  </div>

                                   <!-- Indexe d'origine du voyage-->
                                  <div class="row">
                                    {% if registreUnique.indexOrigine %}
                                        <div class="col-3"> <p class="font-weight-bold">Index registre origine</p></div>
                                        <div class="col-5">{{ registreUnique.indexOrigine }}</div>
                                    {% endif %}
                                  </div>

                                 <!-- Numero d'ordre de passage-->
                                  <div class="row">
                                    {% if not registreUnique.nrOrdre %}
                                        <div class="col-3"> <p class="font-weight-bold">Numéro d'enregistrement (nr d'ordre)</p></div>
                                        <div class="col-5">- non renseigné -</div>
                                    {% else %}
                                        <div class="col-3"> <p class="font-weight-bold">Numéro d'enregistrement (nr d'ordre)</p></div>
                                        <div class="col-5">{{ registreUnique.nrOrdre }} </div>
                                    {% endif %}
                                  </div>

                                 <!-- Description, metiers -->
                                  <div class="row row-cols-2 row-cols-md-2">

                                      <!-- Rubrique Description -->
                                      <div class="col mb-4">
                                        <div class="card bg-light mb-3" style="max-width: 40rem;">
                                            <div class="card-header">Description de la personne</div>
                                            <div class="card card-body">
                                                <!-- Description générale -->
                                                  <div class="row">
                                                        {% if registreUnique.description %}
                                                            <div class="col-4"> <p class="font-weight-bold">Description</p></div>
                                                            <div class="col-8">{{registreUnique.description}}</div>
                                                        {% endif %}
                                                    </div>
                                                      <!-- Taille-->
                                                  <div class="row">
                                                    {% if not registreUnique.taillePersonne %}
                                                        <div class="col-4"> <p class="font-weight-bold">Taille</p></div>
                                                        <div class="col-8">- non renseignée -</div>
                                                    {% else %}
                                                        <div class="col-4"> <p class="font-weight-bold">Taille</p></div>
                                                        <div class="col-8">{{ registreUnique.taillePersonne }} m</div>
                                                    {% endif %}
                                                  </div>
                                                       <!-- Age-->
                                                  <div class="row">
                                                    {% if not registreUnique.agePersonne %}
                                                        <div class="col-4"> <p class="font-weight-bold">Age</p></div>
                                                        <div class="col-8">- non renseigné -</div>
                                                    {% else %}
                                                        <div class="col-4"> <p class="font-weight-bold">Age</p></div>
                                                        <div class="col-8">{{ registreUnique.agePersonne }} ans</div>
                                                    {% endif %}
                                                  </div>
                                                        <!-- Annee naissance-->
                                                  <div class="row">
                                                    {% if registreUnique.anneeNaissCalcule %}
                                                        <div class="col-4"> <p class="font-weight-bold">Année de naissance calculée</p></div>
                                                        <div class="col-8">{{ registreUnique.anneeNaissCalcule }}</div>
                                                    {% endif %}
                                                  </div>
                                                        <!-- Autres carractéristiques-->
                                                  <div class="row">
                                                    {% if not registreUnique.autresCaracteristiques %}
                                                        <div class="col-4"> <p class="font-weight-bold">Autres caractéristiques</p></div>
                                                        <div class="col-8">- non renseigné -</div>
                                                    {% else %}
                                                        <div class="col-4"> <p class="font-weight-bold">Autres caractéristiques</p></div>
                                                        <div class="col-8">{{ registreUnique.autresCaracteristiques }}</div>
                                                    {% endif %}
                                                  </div>
                                                         <!-- durée du séjour-->
                                                  <div class="row">
                                                    {% if registreUnique.dureeSejour %}
                                                        <div class="col-4"> <p class="font-weight-bold">Durée du séjour</p></div>
                                                        <div class="col-8">{{ registreUnique.dureeSejour }}</div>
                                                    {% endif %}
                                                  </div>
                                            </div>
                                        </div>
                                      </div>

                                      <!-- Familles de metiers-->
                                      <div class="col mb-4">
                                        <div class="card bg-light mb-3" style="max-width: 40rem;">
                                            <div class="card-header">Familles de métiers</div>
                                            <div class="card card-body">

                                                <!-- Famille de metiers-->
                                              <div class="row">
                                                {% if not registreUnique.liensCategories%}
                                                    <div class="col-8 mb-3">- sans précision -</div>
                                                {% else %}
                                                    <div class="col-8"><p class="font-weight-bold">Catégories et sous-catégories</p></div>
                                                    {% for lienRegistreCategorie in registreUnique.liensCategories %}
                                                        {% if not lienRegistreCategorie.id_souscategorie %}
                                                           <div class="col-8 pb-3" ><a href="{{ url_for("persCat",identifier= lienRegistreCategorie.categories.id) }}">{{lienRegistreCategorie.categories.labelCategorie }}</a></div>
                                                        {% else %}
                                                           <div class="col-8 pb-3"><a href="{{ url_for("persCat",identifier= lienRegistreCategorie.categories.id) }}">{{ lienRegistreCategorie.categories.labelCategorie }}</a> -- <a href="{{ url_for("persSousCat",identifier= lienRegistreCategorie.souscategories.id) }}">{{ lienRegistreCategorie.souscategories.labelSouscategorie }}</a></div>
                                                        {% endif %}
                                                     {% endfor %}
                                                {% endif %}
                                               </div>
                                                <!-- Label metier déclaré-->
                                              <div class="row">
                                                {% if registreUnique.professionOrigine %}
                                                    <div class="col-4"> <p class="font-weight-bold">Métier déclaré</p></div>
                                                    <div class="col-8">{{ registreUnique.professionOrigine }}</div>
                                                {% endif %}
                                              </div>
                                            </div>
                                        </div>
                                      </div>

                                  </div>

                                    <!-- Accompagné par et caractériqtiques physiques-->
                                  <div class="row row-cols-2 row-cols-md-2">

                                        <!-- Caracteristiques physiques-->
                                        <div class="col mb-4">
                                            <div class="card bg-light mb-3" style="max-width: 40rem;">
                                                <div class="card-header">Caracteristiques physiques</div>
                                                <div class="card card-body">

                                                  <!-- Caractéristiques physiques-->

                                                        {% if not registreUnique.caracteristiques %}
                                                             <div class="row">
                                                           <div class="col-4"><p class="font-weight-bold">Caractéristiques types</p></div>
                                                                <div class="col-8 mb-3">- sans précision -</div>
                                                             </div>

                                                        {% else %}
                                                             <div class="row">
                                                                <div class="col-8"><p class="font-weight-bold">Caractéristiques types</p></div>
                                                                {% for caracteristique in registreUnique.caracteristiques %}
                                                                 <div class="col-8 pb-3"><a href="{{ url_for("persCarracteristique",label= caracteristique.labelCaracteristique) }}">{{ caracteristique.labelCaracteristique }}</a>&nbsp; &nbsp;</div>
                                                                {% endfor %}
                                                             </div>
                                                        {% endif %}
                                                        {% if not registreUnique.caracteristiquesPhysiques %}
                                                            <div class="row">
                                                                <div class="col-4"><p class="font-weight-bold">Caractéristiques déclarés</p></div>
                                                                <div class="col-8">- sans précision -</div>
                                                            </div>
                                                        {% else %}
                                                            <div class="row">
                                                                <div class="col-4"><p class="font-weight-bold">Caractéristiques déclarés</p></div>
                                                                <div class="col-8">{{ registreUnique.caracteristiquesPhysiques }}</div>
                                                            </div>
                                                        {% endif %}
                                                </div>

                                            </div>
                                          </div>

                                           <!-- Voyage avec-->
                                         <div class="col mb-4">
                                             <div class="card bg-light mb-3" style="max-width: 40rem;">
                                                  <div class="card-header">Voyage avec</div>
                                                  <div class="card card-body">

                                                        {% if not registreUnique.accompagnePar %}

                                                            <div class="col-8 mb-3">- sans précision -</div>

                                                        {% else %}
                                                            {% if registreUnique.epoux == 1 %}
                                                                 <div class="row">
                                                                     <div class="col-8 mb-3"><a href="{{ url_for("persEpoux") }}">époux/épouse</a></div>
                                                                 </div>
                                                            {% endif %}

                                                            {%  if registreUnique.nbEnfants %}
                                                                 <div class="row">
                                                                     <div class="col-4"> <p class="font-weight-bold"><a href="{{ url_for("persEnfant") }}">Enfant</a> (nombre)</p></div>
                                                                    <div class="col-8">{{ registreUnique.nbEnfants }}</div>
                                                                 </div>
                                                            {% endif %}

                                                             {%  if registreUnique.nbAutreMembre %}
                                                                  <div class="row">
                                                                    <div class="col-4"> <p class="font-weight-bold">Autres memebres de la famille (nombre)</p></div>
                                                                    <div class="col-8">{{ registreUnique.nbAutreMembre }}</div>
                                                                  </div>
                                                            {% endif %}

                                                             {%  if registreUnique.nbPersSupplement %}
                                                                  <div class="row">
                                                                    <div class="col-4"> <p class="font-weight-bold">Autres personnes (nombre)</p></div>
                                                                    <div class="col-8">{{ registreUnique.nbPersSupplement }}</div>
                                                                  </div>
                                                            {% endif %}

                                                             <div class="row">
                                                                <div class="col-4"> <p class="font-weight-bold">Accompagné par (champs déclaré)</p></div>
                                                                <div class="col-8">{{ registreUnique.accompagnePar }}</div>
                                                             </div>
                                                        {% endif %}
                                                  {%  if registreUnique.voyageAvecRegistre %}
                                                                  <div class="row">
                                                                    <div class="col"> <p class="font-weight-bold">Voyage avec:</p></div>
                                                                      {% for objetVoyageAvec in registreUnique.voyageAvecRegistre %}
                                                                          <div class="col"><a href="{{ url_for("notice", identifier=objetVoyageAvec.personnes.id) }}">{{ objetVoyageAvec.personnes.nom }}, {{ objetVoyageAvec.personnes.prenom }}</a></div>
                                                                  {% endfor %}
                                                                  </div>
                                                            {% endif %}

                                                   </div>
                                             </div>
                                        </div>

                                  </div>

                                 <!-- Deplacements-->
                                  <div class="row">
                                        <div class="col mb-4">
                                            <div class="card bg-light mb-3" style="max-width: 100rem;">
                                                <div class="card-header">Lieux déclarés </div>
                                                <div class="card card-body">
                                                     <table class="table" >
                                                              <thead class="table-info">
                                                                  <tr>
                                                                    <th>Type de lieu</th>
                                                                    <th>Nom du lieu</th>
                                                                    <th>Date</th>
                                                                  </tr>
                                                              </thead>
                                                              <tbody>
                                                                  {% for lieu in registreUnique.lieuxDeclares %}
                                                                  {% if lieu.typeLieu == "Naissance"%}
                                                                      <tr>
                                                                          <td>Lieu de naissance</td>
                                                                          <td>
                                                                              {% if lieu.labelLieuDeclare %} <!-- si lieu déclaré, on l'affiche, sinon, on affiche le lieu normalisé-->
                                                                                  {{lieu.labelLieuDeclare}}
                                                                              {% elif lieu.id_lieu %}
                                                                                  {{ lieu.lieux.nomLieuFr }}
                                                                              {% else %}
                                                                              - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                          <td>
                                                                              {% if lieu.date %}
                                                                              {{ lieu.date }}
                                                                              {% else %}
                                                                              - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                      </tr>
                                                                  {% endif %}
                                                                  {% if lieu.typeLieu == "Domicile"%}
                                                                      <tr>
                                                                          <td>Lieu du domicile</td>
                                                                          <td>
                                                                              {% if lieu.labelLieuDeclare %}
                                                                                    {{ lieu.labelLieuDeclare|capitalize}}
                                                                               {% elif lieu.id_lieu %}
                                                                                    {{ lieu.lieux.nomLieuFr }}
                                                                              {% else %}
                                                                              - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                          <td>
                                                                              {% if lieu.date %}
                                                                              {{ lieu.date }}
                                                                              {% else %}
                                                                                - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                      </tr>
                                                                  {% endif %}
                                                                  {% if lieu.typeLieu == "Délivrance du passeport"%}
                                                                      <tr>
                                                                          <td>Lieu de délivrance du passeport</td>
                                                                          <td>
                                                                              {% if lieu.labelLieuDeclare %}
                                                                                {{ lieu.labelLieuDeclare|capitalize}}
                                                                              {% elif lieu.id_lieu %}
                                                                                 {{ lieu.lieux.nomLieuFr }}
                                                                              {% else %}
                                                                              - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                          <td>
                                                                              {% if lieu.date %}
                                                                              {{ lieu.date }}
                                                                              {% else %}
                                                                                - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                      </tr>
                                                                  {% endif %}
                                                                  {% if lieu.typeLieu == "Dernier Passage"%}
                                                                      <tr>
                                                                          <td>Lieu du passage précédent</td>
                                                                          <td>
                                                                              {% if lieu.labelLieuDeclare %}
                                                                                    {{ lieu.labelLieuDeclare}}
                                                                              {% elif lieu.id_lieu %}
                                                                                    {{ lieu.lieux.nomLieuFr }}
                                                                              {% else %}
                                                                              - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                          <td>
                                                                              {% if lieu.date %}
                                                                              {{ lieu.date }}
                                                                              {% else %}
                                                                                - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                      </tr>
                                                                  {% endif %}
                                                                  {% if lieu.typeLieu == "Destination"%}
                                                                      <tr>
                                                                          <td>Lieu de destination</td>
                                                                          <td>
                                                                              {% if lieu.labelLieuDeclare %}
                                                                                    {{ lieu.labelLieuDeclare|capitalize}}
                                                                              {% elif lieu.id_lieu %}
                                                                                    {{ lieu.lieux.nomLieuFr }}
                                                                              {% else %}
                                                                              - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                          <td>
                                                                              {% if lieu.date %}
                                                                              {{ lieu.date }}
                                                                              {% else %}
                                                                                - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                      </tr>
                                                                  {% endif %}
                                                                      {% if lieu.typeLieu == "Visa"%}
                                                                      <tr>
                                                                          <td>Autre visa</td>
                                                                          <td>
                                                                              {% if lieu.labelLieuDeclare %}
                                                                                {{ lieu.labelLieuDeclare|capitalize}}
                                                                              {% elif lieu.id_lieu %}
                                                                                  {{ lieu.lieux.nomLieuFr }}
                                                                              {% else %}
                                                                              - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                          <td>
                                                                              {% if lieu.date %}
                                                                              {{ lieu.date }}
                                                                              {% else %}
                                                                                - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                      </tr>
                                                                  {% endif %}

                                                                  {% if lieu.typeLieu == "Décès"%}
                                                                      <tr>
                                                                          <td>Déces</td>
                                                                          <td>
                                                                              {% if lieu.labelLieuDeclare %} <!-- si lieu déclaré, on l'affiche, sinon, on affiche le lieu normalisé-->
                                                                                  {{lieu.labelLieuDeclare}}
                                                                              {% elif lieu.id_lieu %}
                                                                                  {{ lieu.lieux.nomLieuFr }}
                                                                              {% else %}
                                                                              - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                          <td>
                                                                              {% if lieu.date %}
                                                                              {{ lieu.date }}
                                                                              {% else %}
                                                                              - non renseignée -
                                                                              {% endif %}
                                                                          </td>
                                                                      </tr>
                                                                  {% endif %}
                                                                {% endfor %}
                                                             </tbody>
                                                     </table>
                                                 </div>
                                            </div>
                                        </div>
                                  </div>

                                  <!-- Sources: archives, cote, type doc-->
                                  <div class="row">
                                     <div class="col mb-4">
                                          <div class="card bg-light" style="max-width: 100rem;">
                                                <div class="card-header">Sources d'archives et Notes</div>

                                                <div class="card card-body">

                                                            <!--Archive-->
                                                      <div class="row">

                                                        {% if not registreUnique.nomArchive %}
                                                            <div class="col-4"> <p class="font-weight-bold">Source archivistique</p></div>
                                                            <div class="col-8">- non renseignée -</div>
                                                        {% else %}
                                                            <div class="col-4"> <p class="font-weight-bold">Source archivistique</p></div>
                                                            <div class="col-8">{{ registreUnique.nomArchive }}</div>
                                                        {% endif %}
                                                      </div>

                                                            <!-- Cote-->
                                                      <div class="row">
                                                        {% if not registreUnique.cote %}
                                                            <div class="col-4"> <p class="font-weight-bold">Cote</p></div>
                                                            <div class="col-8">- non renseignée -</div>
                                                        {% else %}
                                                            <div class="col-4"> <p class="font-weight-bold">Cote</p></div>
                                                            <div class="col-8"><a href="{{ url_for('registreParCote', cote_archive=registreUnique.cote) }}">{{ registreUnique.cote }}</a> </div>
                                                        {% endif %}
                                                        </div>

                                                            <!-- Type document-->
                                                      <div class="row">
                                                        {% if not registreUnique.natureDoc %}
                                                            <div class="col-4"> <p class="font-weight-bold">Type du document</p></div>
                                                            <div class="col-8">- non renseignée -</div>
                                                        {% else %}
                                                            <div class="col-4"> <p class="font-weight-bold">Type du document</p></div>
                                                            <div class="col-8">{{ registreUnique.natureDoc }} </div>
                                                        {% endif %}
                                                        </div>

                                                      <!-- Collecte-->
                                                      <div class="row">
                                                        {% if not registreUnique.collecte %}
                                                            <div class="col-4"> <p class="font-weight-bold">Collecte réalisée par</p></div>
                                                            <div class="col-8">- non renseignée -</div>
                                                        {% else %}
                                                            <div class="col-4"> <p class="font-weight-bold">Collecte réalisée par</p></div>
                                                            <div class="col-8">{{ registreUnique.collecte }} </div>
                                                        {% endif %}
                                                        </div>

                                                             <!-- Numéro de la photo-->
                                                      <div class="row">
                                                            {% if not registreUnique.photos %}
                                                                <div class="col-4"> <p class="font-weight-bold">Consultez le document d'archive</p></div>
                                                                <div class="col-8">- non renseignée -</div>
                                                            {% elif  current_user.is_authenticated %}
                                                                <div class="col-4"> <p class="font-weight-bold">Consultez le(s) document(s) d'archive</p></div>
                                                                <div class="col-8">
                                                                  {% for photo in registreUnique.photos %}
                                                                    <a href="../static/images/Photos_BDD/{{ photo.label_photo }}.jpg" alt="photo d'archive" style="display: inline-block; width: 55px; height: 55px; background-image: url('../../static/images/image.jpg');" target="_blank" class="mr-1">
                                                                    </a>
                                                                  {% endfor %}
                                                                </div> <!--width: 65px; height: 65px; must be the same as the image size-->
                                                            {% endif %}
                                                       </div>

                                                             <!-- Commentaires-->
                                                      <div class="row">
                                                        {% if not registreUnique.commentaires %}
                                                            <div class="col-4"> <p class="font-weight-bold">Observations</p></div>
                                                            <div class="col-8">- non renseignées -</div>
                                                        {% else %}
                                                            <div class="col-4"> <p class="font-weight-bold">Observations</p></div>
                                                            <div class="col-8">{{ registreUnique.commentaires }} </div>
                                                        {% endif %}
                                                      </div>
                                                  </div>
                                          </div>
                                     </div>
                                  </div>

                                 <!-- Auteur de la notice-->
                                {% if registreUnique.authorshipRegistres %}
                                      <blockquote class="blockquote text-right">
                                          <p class="small">Notice d'enregistrement créé par</p>
                                          <footer class="blockquote-footer small">
                                              {% for auteur in registreUnique.authorshipRegistres %}
                                                  {% if auteur.role == "creator" %}
                                                  {{ auteur.users.prenom }} {{ auteur.users.nom }}<cite> le {{ auteur.date }}</cite>
                                                  {% endif %}
                                              {% endfor %}
                                          </footer>
                                      </blockquote>
                                {% endif %}

                     </div>
      <script>
            function suppressRegister(idregister){
                                   var link_a = document.getElementById(idregister);
                                   if (confirm('Etes-vous sûr(e) de vouloir supprimer le régistre? Cette action est irréversible')===false ){
                                       link_a.setAttribute('href', "");
                                   }

                                }
      </script>

                 </div>
