<link rel="dc:identifier" href="https://spectacle-de-curiosites.msh.uca.fr/" />
<meta name="description" content="application de base de données en ligne développée à la MSH de Clermont-Ferrand">
<meta name="keywords" content="curiosités, 19 siècle, révolution, culture populaire, lanterne magique, métiers ambulants, foire">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="dcterms:title" content="Spectacle de curiosités" />
<meta property="dcterms:creator" content="Université Clermont Auvergne. Maison des Sciences de l'Homme (MSH) USR 3550" />
<meta property="dcterms:creator" content="Université Clermont Auvergne. Centre d’Histoire Espaces et Cultures (CHEC), EA 1001" />
<meta property="dcterms:contributor" content="Aurelia Vasile" />
<meta property="dcterms:contributor" content="Roger Gonin" />
<meta property="dcterms:contributor" content="Philippe Bourdin" />
<meta property="dcterms:contributor" content="Cyril Triolaire" />
<meta property="dcterms:spatial" content="Clermont-Ferrand" />
<meta property="dcterms:temporal" content="1768-1877" />
<meta property="dcterms:subject" content="métiers" />
<meta property="dcterms:subject" content="montreurs de curiosités" />
<meta property="dcterms:subject" content="lanterne magique" />
<meta property="dcterms:subject" content="art du spéctacle" />
<meta property="dcterms:description" content="Le projet vise à collecter, structurer et exposer les informations qui relèvent des professions exercées par les personnes ayant présenté différentes curiosités et activités artistiques d’amateur dans les lieux publics en France à la fin du XVIIIe siècle et au début du XIXe siècle."/>
<meta property="dcterms:created" content="2019" />
<meta property="dcterms:publisher" content="Université Clermont Auvergne. Maison des Sciences de l'Homme (MSH) USR 3550" />
<meta property="dcterms:type" content="Interactive Resource" />
<meta property="dcterms:format" content="text/html" />
<meta property="dcterms:identifier" content="https://spectacle-de-curiosites.msh.uca.fr/" />
<meta property="dcterms:language" content="fr" />
<meta property="dcterms:relation" content="https://therepsicore.msh.uca.fr/" />
<meta property="dcterms:relation" content="https://philidor.cmbv.fr/Publications/Bases-prosopographiques/MUSEFREM-Base-de-donnees-prosopographique-des-musiciens-d-Eglise-en-1790" />