{% extends "base.html" %}


{% block content %}
<form class="container form-once-only" method="POST" id="creationPlaceFormId" action="{{url_for("creer_lieu")}}">
      <div class="row">
         <div class="col-12"> <header class="page-header"><h2>Page de création d'un nouveau lieu</h2></header></div>
      </div>
      <div class="form-group">
          <label for="nomLieu">Nom du lieu <small  style="color: #bd2130">(choisir l'option "city, village...")</small></label>
        <input type="text" class="form-control" id="nomLieu" name="nomLieu" maxlength="64" placeholder="ex : Villers-Cotterêts">
      </div>
     <div class="form-group">
        <label for="pays">Pays</label>
        <input type="text" class="form-control" id="pays" name="pays" maxlength="64" placeholder="ex : France">
      </div>
    <div class="form-group">
        <label for="region">Région</label>
        <input type="text" class="form-control" id="region" name="region" maxlength="64" placeholder="ex : Hauts-de-France">
      </div>
    <div class="form-group">
        <label for="depart">Département</label>
        <input type="text" class="form-control" id="depart" name="depart" maxlength="64" placeholder="ex : Aisne">
      </div>
      <div class="form-group">
        <label for="lat">Latitude</label>
        <input type="text" class="form-control" id="lat" name="latitude" maxlength="64" placeholder="ex : 49.25311" onchange="updateMap()">
      </div>
      <div class="form-group">
        <label for="lng">Longitude</label>
        <input type="text" class="form-control" id="lng" name="longitude" maxlength="64" placeholder="ex : 3.09003" onchange="updateMap()">
      </div>
      <div class="form-group">
          <label for="codeINSEE">Code INSEE (pour les localités françaises)</label>
          <p><small class="text-muted">(connectez-vous au <a href="https://public.opendatasoft.com/explore/dataset/correspondance-code-insee-code-postal/information/" target="_blank">site de l'INSEE)</a></small></p>
        <input type="text" class="form-control" id="codeINSEE" name="codeINSEE" maxlength="64" placeholder="ex : 02810">
      </div>
      <div class="form-group">
        <label for="idGeonames">Identifiant Geonames</label>
        <input type="text" class="form-control" id="idGeonames" name="idGeonames" maxlength="64" placeholder="ex : 2968405">
      </div>

      <div id="mapid" style="height: 400px; width: 700px;"></div>

        <button type="submit" class="btn btn-primary mt-3">Créer</button>
</form>


  {% block scripts %}
           {% include "includes/map.html" %}
  <script>
    var theMarker = {};

    // fonction qui propose un autocomplete des lieux depuis geonames
    $('#nomLieu').autocomplete({
    source : function(requete, reponse){ // les deux arguments représentent les données nécessaires au plugin
	  $.ajax({
            url : 'https://secure.geonames.org/searchJSON', // on appelle geonames endpoint pour le format JSON
            dataType : 'json', // on spécifie bien que le type de données est en JSON
            //on construit le reste de la requête
            data : {
                name_startsWith : requete.term, // on donne la chaîne de caractère tapée dans le champ de recherche Nom lieu
                {% if current_user.username_geoname != "" %}
                username : '{{ current_user.username_geoname|safe }}', // à remplacer par un username enregistré dans la base
                {% endif %}
                maxRows : 10, // nr d'éléments affichés
                lang : 'fr' // param lang pour avoir la version des noms en fr
            },

            success : function(donnee){
                reponse($.map(donnee.geonames, function(item){
                    return {// affiche les 4 éléments: lieu, region, code pays et type lieu. Pour le département il y a une condition
                      label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryCode +", " + item.fclName,
                                    // (item.adminName1 ? ", " + item.adminName1 : "") : si item.adminName1 (?) alors ","+ item.adminName1, sinon (:)  ""
						value: item.name,
                        lat: item.lat,
                        lng: item.lng,
                        pays: item.countryName,
                        region: item.adminName1,
                      geonameId : item.geonameId
                    }
                }));
            }
        });
    },
        select : function(event, ui){ // lors de la sélection d'une proposition on rajoute dans les inputs automatiquement
        $( '#lat' ).val( ui.item.lat );
        $( '#lng' ).val( ui.item.lng);
        $( '#pays' ).val( ui.item.pays);
        $( '#region' ).val( ui.item.region);
        $( '#idGeonames' ).val( ui.item.geonameId);
        regenerateMap(ui.item.lat, ui.item.lng)
    }
});

   function updateMap() {
       var lat = document.getElementById("lat");
       var lng = document.getElementById("lng");
       regenerateMap(lat, lng)
   };

   function regenerateMap (lat, long) {
       mymap.setView([lat, long], 10);
       if (theMarker != undefined) {
           mymap.removeLayer(theMarker);
       };
       theMarker = L.marker([lat,long]).addTo(mymap);
   }

         removeEnterSubmit ("creationPlaceFormId")
  shadeButtonSubmit ()
  </script>
  {% endblock %}
{% endblock %}