{% extends "base.html" %}

{% block content %}
    {% include 'includes/modal.html' %}

<form class="container form-once-only" method="POST" id="creationPersFormId" action="{{url_for("creer_personne")}}">
          <div class="row">
            <div class="col-8"> <header class="page-header"><h2>Page de création d'une nouvelle personne</h2></header></div>
          </div>
   <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" maxlength="64" placeholder="ex : Dumas" value="{{ personneTemporaire["nom"] }}" required>
      </div>
      <div class="form-group col-md-6">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" maxlength="64" placeholder="ex : Alexandre" value="{{ personneTemporaire["prenom"] }}">
      </div>
   </div>
    <div class="form-row">
        <div class="form-group col-md-6" id="idDivNaissance">
        <label for="lieuNaissance">Lieu de naissance</label>
        <input type="text" class="form-control" id="lieuNaissance" name="lieuNaissance" placeholder="ex : Villers-Cotterêts" value="{{ personneTemporaire["lieuNaissance"] }}" onblur="myFunctionBlurFocusNaissance(value,id)">
      </div>
      <div class="form-group col-md-6">
        <label for="anneeNaissance">Année de naissance</label>
        <input type="number" class="form-control" id="anneeNaissance" name="anneeNaissance" placeholder="ex : 1789" value="{{ personneTemporaire["anneeNaissance"] }}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" id="idDivDeces">
        <label for="lieuDeces">Lieu de décès</label>
        <input type="text" class="form-control" id="lieuDeces" name="lieuDeces" placeholder="ex : Villers-Cotterêts" value="{{ personneTemporaire["lieuDeces"] }}" onblur="myFunctionBlurFocusDeces(value,id)">
      </div>
      <div class="form-group col-md-6">
        <label for="dateDeces">Date du décès</label>
        <input type="date" class="form-control" id="dateDeces" name="dateDeces" value="{{ personneTemporaire["dateDeces"] }}" >
      </div>
    </div>

  <div class="form-group">
    <label for="sexe">Sexe (Choisir dans la liste ci-dessous)</label>
    <select class="form-control" name ="sexe" id="sexe" required>
      <option selected value="{{ personneTemporaire["sexe"] }}">{{ personneTemporaire["sexe"] }}</option>
      {% if "Inconnu" == personneTemporaire["sexe"] %}
      <option>Femme</option>
      <option>Homme</option>
      {% elif "Femme"==personneTemporaire["sexe"] %}
      <option>Inconnu</option>
      <option>Homme</option>
       {% elif "Homme"==personneTemporaire["sexe"] %}
      <option>Inconnu</option>
      <option>Femme</option>
          {% else  %}
      <option>Inconnu</option>
      <option>Homme</option>
      <option>Femme</option>
       {% endif %}
    </select>
  </div>
    <div class="form-group">
    <label for="certitude">Certitude des informations</label>
     <input type="text" class="form-control" id="certitude" name="certitude" maxlength="100" placeholder="ex : nom incertain" value="{{ personneTemporaire["certitudeNP"] }}">
  </div>
  <div class="form-group">
    <label for="description">Observation du chercheur</label>
    <textarea class="form-control" id="description" name="description" rows="3">{{ personneTemporaire["observations"] }}</textarea>
  </div>
    <button type="submit" class="btn btn-primary">Créer</button>
</form>

  {% block scripts %}

  <script>
    var tagsLieux = {{ lieux|safe }};

    autocompleMultiple("#lieuNaissance", tagsLieux);

    autocompleMultiple("#lieuDeces", tagsLieux);

    function myFunctionBlurFocusNaissance(valeur, idHtml) {
                   removeValueWhenIncorrectPlace(tagsLieux, valeur, idHtml,"idDivNaissance" )
               }
    function myFunctionBlurFocusDeces(valeur, idHtml) {
                   removeValueWhenIncorrectPlace(tagsLieux, valeur, idHtml,"idDivDeces" )
               }

      removeEnterSubmit ("creationPersFormId")

  //MODAL: FONCTIONS QUI PERMETENT DE CREER DES LIEUX DANS LA BASE DE DONNEES

     // ma fonction pour afficher la carte leaflet sans erreurs
      displayMapInModal("myModalPlace");
      </script>

  {% include "includes/map.html" %}

      <script>
    //generate map

    var theMarker = {};

     // implement autocomplete avec les lieux de Geonames dans le modal
    $('#nomLieu').autocomplete({

        // Appel http geonames avec la fonction ajax
        source : function(requete, reponse){ // les deux arguments représentent les données nécessaires au plugin

          $.ajax({
                url : 'https://secure.geonames.org/searchJSON', // on appelle geonames endpoint pour le format JSON
                dataType : 'json', // on spécifie bien que le type de données est en JSON
                data : {
                    name_startsWith : requete.term, // on donne la chaîne de caractère tapée dans le champ de recherche nomLieu du Modal
                    {% if current_user.username_geoname != "" %}
                    username : '{{ current_user.username_geoname|safe }}',
                    {% endif %}
                    maxRows : 100, // nr d'éléments affichés
                    lang : 'fr' // param lang pour avoir la version des noms en fr
                },

                success : function(donnee){ // param "donnée" est le résultat de l'appel http à geonames (un objet json avec toutes les valeurs récupérées du lieu) généré sur l'objet reponse
                    reponse($.map(donnee.geonames, // la fonction jquery "map" prend en entrée une liste d'objets (donnee.geonames [l'objet json recupéré depuis geonames contient une clé intitulé "geonames"]) et une fonction (fonction(item)).
                        function(item){  // fonction avec le param item qui s'applique à chaque élément de la liste (donnee.geonames). param "item" correspond à un objet du geonames avec un lieu
                        return {
                          label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryCode +", " + item.fclName, // affiche les 4 éléments: lieu, region, code pays et type lieu. Pour le département il y a une condition
                                        // (item.adminName1 ? ", " + item.adminName1 : "") : si item.adminName1 (?) alors ","+ item.adminName1, sinon (:)  ""
                            value: item.name, // ajoute dans l'input #nomLieu la value = name
                            lat: item.lat,
                            lng: item.lng,
                            pays: item.countryName,
                            region: item.adminName1,
                          geonameId : item.geonameId
                        }
                    }));
                }
            });
        },
            select : function(event, ui){ // lors de la sélection d'une proposition on rajoute dans les inputs automatiquement les éléments réstants. (le nom a déja été rajouté dans value : name)
            $( '#lat' ).val( ui.item.lat );
            $( '#lng' ).val( ui.item.lng);
            $( '#pays' ).val( ui.item.pays);
            $( '#region' ).val( ui.item.region);
            $( '#idGeonames' ).val( ui.item.geonameId);
            regenerateMap(ui.item.lat, ui.item.lng)
        }
        });

   function updateMap() { // appliqué à l'événement onchange sur latitude et longitude
       var lat = document.getElementById("lat");
       var lng = document.getElementById("lng");
       regenerateMap(lat.value, lng.value) // les paramètres de la fonction représente la valeur de long et lat, pas les balises html long et lat
    }

   function regenerateMap (lat, long) {
       mymap.setView([lat, long], 10); // setView: objet de Leaflet qui fixe la vue de la carte sur la lat et lonf
       if (theMarker != undefined) { // si le marqueur est différent de null (car la première fois il n'existe pas)
           mymap.removeLayer(theMarker); //removeLayer:objet leaflet. supprime l'ancien marqueur de la carte
       };
       theMarker = L.marker([lat,long]).addTo(mymap); // L.marker: construot un nouveau marquer et l'ajoute à la carte
   }


           // vider le formulaire quand on ferme le modal
           $("#closeModal").click(function () {
               $("#creationPlaceFormId")[0].reset();
                $("#successAlert").hide(); // cache le message de succes de la creation du lieu
                $("#errorAlert").hide() // cache le message d'erreur de la creation du lieu
           });

           // send the form to the bdd. Click sur le boutton Sauvegarder
           $("#idBtnSavePlace").click(function () {
                        // récupère dans un objet de type dictionaire les valeurs des input
                       var body = { "nomLieu": $("#nomLieu").val(),
                                   "pays": $("#pays").val(),
                                   "region": $("#region").val(),
                                   "depart": $("#depart").val(),
                                   "lat": $("#lat").val(),
                                   "lng": $("#lng").val(),
                                   "codeINSEE": $("#codeINSEE").val(),
                                   "idGeonames": $("#idGeonames").val()};
                       //initialise un appel HTTP avec la methode post
                       $.ajax(
                           {
                               url: "{{url_for("savePlace")}}", //l'url de la route défini dans routes
                               type:"POST",
                               dataType: 'json', // format des données envoyées
                               contentType: "application/json", // format des données envoyées
                               data: JSON.stringify(body), //transorme le dictionnaire body dans un objet json

                               //si le retour est "success"
                               success: function (retourHttp) { //le retour serveur (avec 4 parametres de la methode json_response) est utilisé dans la variable retourHttp
                                   if (retourHttp.codeRetour==="OK"){ // codeRetour est la deuxième variable de la methode json_response déclaré coté serveur.
                                        //mettre à jour la liste des lieux coté client pour l'autocomplete
                                       tagsLieux.push(retourHttp.nouveauLieuComplet); // nouveauLieuComplet: la quatrieme variable de la methode json_response
                                        $("#successAlert").text(retourHttp.message).show(); // affiche à l'ecran le message de succes de la creation du lieu
                                        $("#errorAlert").hide() // cahche la div qui affiche l'erreur
                                   }
                                   else { // Si le code n'est pas "OK"
                                        $("#errorAlert").text(retourHttp.message).show(); // affiche le message d'erreur dans la balise div associée avec l'erreur
                                        $("#successAlert").hide();
                                   }
                                   },
                               // si le retour est error ou echec, affiche un message 404
                                error : function (retourHttp) {
                                        $("#errorAlert").text(retourHttp.message).show();
                                        $("#successAlert").hide();
                                   }
                           });
                   })

       shadeButtonSubmit ()

  </script>

  {% endblock %}

{% endblock %}