{% extends "base.html" %}

{% block content %}



<div class="wrapper">

    <!-- Sidebar avec les filtres de recherche -->

    <nav id="sidebar"> <!--pour ne pas afficher la sidebar class="active"-->
        <div class="sidebar-header">
           <h5>Critères de recherche</h5>
         </div>
    <form id="filterID" method="POST" action="{{ url_for("index") }}">
     <!-- Chercher par lieu de naissance-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                    <header class="card-header">Lieu de naissance</header>
            </article>
            <div class="filter-content">
               <div class="card-body">
            <input class="form-control curiosity-control" type="search" id ="bornPlace" name ="bornPlace" value="{{ filtreTemporaire["lieu naissance"] }}" aria-label="Search">
                </div>
            </div>
        </div>
        <!-- Chercher par lieu d'enregistrement-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">Lieu d'enregistrement</header>
            </article>
            <div class="filter-content">
                <div class="card-body">
                    <input class="form-control curiosity-control" type="search" id ="registerPlace" name ="registerPlace" value="{{ filtreTemporaire["lieu enregistrement"] }}" aria-label="Search">
                </div>
            </div>
        </div>

     <!-- Chercher par année d'enregistrement-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">Période d'enregistrement</header>
            </article>
            <div class="filter-content form-row mb-3 mr-0 ml-0 mt-3">
                 <div class="col">
                      <input type="search" class="form-control curiosity" placeholder="année début" id="debut" name="debut" value="{{ filtreTemporaire["Début"] }}" aria-label="Search">
                    </div>
                    <div class="col">
                      <input type="search" class="form-control curiosity" placeholder="année fin" id="fin" name="fin" value="{{ filtreTemporaire["Fin"] }}" aria-label="Search">
                    </div>

            </div>
        </div>

        <!-- Sexe-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Sexe</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <label class="form-check">
                          <input class="form-check-input curiosity-control" type="checkbox" id="femme" name="sexe"
                                        value="Femme"
                               {% for sexeChecked in filtreTemporaire["Sexe"] %}
                                     {% if sexeChecked == "Femme" %}
                                            checked
                                      {% endif %}
                              {% endfor %}
                          >Femme
                        </label>
                        <label class="form-check">
                          <input class="form-check-input curiosity-control" type="checkbox" id="homme" name="sexe" value="Homme"
                                  {% for sexeChecked in filtreTemporaire["Sexe"] %}
                                     {% if sexeChecked == "Homme" %}
                                            checked
                                      {% endif %}
                              {% endfor %}>Homme
                        </label>
                        <label class="form-check">
                          <input class="form-check-input curiosity-control" type="checkbox" id="inconnu" name="sexe" value="Inconnu"
                           {% for sexeChecked in filtreTemporaire["Sexe"] %}
                                     {% if sexeChecked == "Inconnu" %}
                                            checked
                                      {% endif %}
                           {% endfor %}>Inconnu
                        </label>
                    </div>
                </div>
            </article>
        </div>
    <!--Metiers-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Catégories professionnelles</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="form-group scrollable">
                                {% for categ in categories %}
                                    {% if categ.souscategories %}
                                  <label class="form-check text-uppercase">
                                      <input type="checkbox" class="form-check-input curiosity-control" name="categorie" value="{{categ.labelCategorie}}"
                                        {% for categorieChecked in filtreTemporaire["categorie"] %}
                                             {% if categorieChecked == categ.labelCategorie %}
                                                    checked
                                              {% endif %}
                                        {% endfor %}
                                      >{{categ.labelCategorie}}
                                  </label>
                                    {% for souscategorie in categ.souscategories %}
                                        <label class="form-check ml-2">
                                            <input type="checkbox" class="form-check-input curiosity-control" name="souscategorie" value="{{souscategorie.labelSouscategorie}}"
                                             {% for souscategorieChecked in filtreTemporaire["souscategorie"] %}
                                                 {% if souscategorieChecked == souscategorie.labelSouscategorie %}
                                                        checked
                                                  {% endif %}
                                             {% endfor %}
                                            >{{souscategorie.labelSouscategorie}}
                                        </label>
                                    {% endfor %}
                                      {% else %}
                                   <label class="form-check text-uppercase">
                                      <input type="checkbox" class="form-check-input curiosity-control" name="categorie" value="{{categ.labelCategorie}}"
                                           {% for categorieChecked in filtreTemporaire["categorie"] %}
                                         {% if categorieChecked == categ.labelCategorie %}
                                                checked
                                          {% endif %}
                               {% endfor %}
                                      >{{categ.labelCategorie}}
                                  </label>
                                    {% endif %}
                              {% endfor %}
                        </div>
                    </div>
                </div>
            </article>
        </div>
    <!--Caractéristiques physiques-->
     <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Caractéristiques physiques</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="form-group scrollable">
                                {% for caracteristique in caracteristiquesPysiques %}
                                  <label class="form-check">
                                      <input type="checkbox" class="form-check-input curiosity-control" name="physique" value="{{caracteristique[0]}}"
                                      {% for physiqueChecked in filtreTemporaire["Caractéristiques physiques"]  %}
                                          {% if physiqueChecked == caracteristique[0] %}
                                          checked
                                          {% endif %}
                                      {% endfor %}
                                      >{{caracteristique[0]}}
                                  </label>
                              {% endfor %}
                        </div>
                    </div>
                </div>
            </article>
     </div>
     <!-- Accompagnés par epoux.se-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Accompagnés par epoux.se</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="row">
                        <div class="col"> <label class="form-check">
                              <input class="form-check-input curiosity-control" type="radio" name="epoux" value="oui"
                                     {% if filtreTemporaire["Accompagnés par epoux.se"]=="oui" %}
                                      checked
                                     {% endif %}
                              >Oui
                            </label></div>
                         <div class="col"> <label class="form-check">
                              <input class="form-check-input curiosity-control" type="radio" name="epoux" value="non"
                                      {% if filtreTemporaire["Accompagnés par epoux.se"]=="non" %}
                                      checked
                                     {% endif %}
                                 >Non
                            </label></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    <!-- Accompagnés par enfants-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Accompagnés par ses enfants</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="row">
                        <div class="col"> <label class="form-check">
                              <input class="form-check-input curiosity-control" type="radio" name="enfants" value="oui"
                                     {% if filtreTemporaire["enfants"]=="oui" %}
                                      checked
                                     {% endif %}
                              >Oui
                            </label></div>
                         <div class="col"> <label class="form-check">
                              <input class="form-check-input curiosity-control" type="radio" name="enfants" value="non"
                                      {% if filtreTemporaire["enfants"]=="non" %}
                                      checked
                                     {% endif %}
                                 >Non
                            </label></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    <!-- Chercher par type de document-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                    <header class="card-header">Type de document</header>
            </article>
            <div class="filter-content">
               <div class="card-body">
               <select class="form-control curiosity-control" name ="typedoc" id="typedoc">
                  <option selected value="{{ filtreTemporaire["Type de document"] }}">{{ filtreTemporaire["Type de document"] }}</option>
                   {% for doc in listeTypeDocu %}

                   <option class="curiosity-control" value="{{ doc[0] }}">{{ doc[0] }}</option>
                   {% endfor %}
                </select>
                </div>
            </div>
        </div>
     <!-- Chercher par cote d'archive-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                    <header class="card-header">Cote d'archive</header>
            </article>
            <div class="filter-content">
               <div class="card-body">
            <input class="form-control curiosity-control" type="search" id ="coteArchive" name ="coteArchive" value="{{ filtreTemporaire["Cote d'archive"] }}" aria-label="Search">
                </div>
            </div>
        </div>

     <!-- Chercher par auteur de la collecte-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                    <header class="card-header">Collecte realisée par :</header>
            </article>
            <div class="filter-content">
               <div class="card-body">
               <select class="form-control curiosity-control" name ="collecte" id="collecte">
                  <option selected value="{{ filtreTemporaire["Auteur de la collecte"] }}">{{ filtreTemporaire["Auteur de la collecte"] }}</option>
                   {% for person in collector %}
                   <option class="curiosity-control" value="{{ person[0] }}">{{ person[0] }}</option>
                   {% endfor %}
                </select>
                </div>
            </div>
        </div>
    <!-- Bouton Activer Filter-->
        <button type="submit" name ="submit_button" value ="reset" class="btn btn-secondary ml-2 col-5" onclick="clearForm(this.form)">Réinitialiser</button>
        <button type="submit" name ="submit_button" value ="filter" class="btn btn-info ml-1 col-6">Filtrer</button>
          {% if current_user.is_authenticated %}
              <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-outline-info ml-1 mt-1" style="width:98%" data-toggle="modal" data-target="#myModal">
          Télécharger
        </button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Choisissez la version d'export</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" >
        <div>
            <div>
          <input type="radio" id="dreduit" name="outputdata" value="dreduit" checked>
          <label for="dreduit">Données réduites</label>
        </div>
          <input type="radio" id="dcomplet" name="outputdata" value="dcomplet">
          <label for="dcomplet">Données complètes</label>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
          <button type="submit" name="submit_button" value="download" formaction="{{ url_for("index") }}" class="btn btn-outline-info ml-1"><i class="fa fa-download"></i>Télécharger</button>
      </div>

    </div>
  </div>
</div>

        {% endif %}
    </form>
    </nav>


<!-- Contenu de la page: l'index-->
    <div id="content">
        <!--Boutton Recherche avancée-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Filtres de recherche</span>
                </button>
                <span class="ml-2 text-center"><span class="text-muted">Filtres sélectionnés : </span>
                    {% for key, value in filtreTemporaire.items() %} {{ key }}: <span class="text-success">{{ value }}</span>
                    {% endfor %}
                </span>
            </div>
        </nav>

        <!-- Page Content avec l'index de personnes -->
        <div class="row">
            <div class="col-6"> <header class="page-header"><h1>Index des personnes</h1></header>
            </div>
        </div>
            {% if personnes|length > 0 %}
                    <p class="lead">Il y a {{personnes|length}} personnes(s) dans la base de données</p>
            <form method="GET">
                 <table id="table_id" class="table" style="width:100%"></table>
            </form>

          {% endif %}
    </div>
</div>

      {% block scripts %}
        <script>

        var tagsLieux = {{ lieux|safe }};
        autocompleMultiple ("#bornPlace",tagsLieux)

        var tagsLieuxEnreg = {{ lieuxEnregistrement|safe }};
        autocompleMultiple ("#registerPlace",tagsLieuxEnreg)

        var tagsCotes = {{ listeCotes|safe }};
        autocompleMultiple ("#coteArchive",tagsCotes);

        dataset= {{ personnes|safe }};

        $(document).ready(function () {
              $('#table_id').DataTable({
                   "pageLength": 30,
                   "lengthMenu": [ 10, 30, 50, 75, 100 ],
                  "data": dataset,
                "columns": [
                  {title: "Id"},
                  {title: "Nom"},
                  {title: "Prénom"},
                  {title: "Année de naissance"},
                  {title: "Lieu de naissance"},
                  {title: "Nombre d'enregistrements"},
                  {title: "Carte"}
                ],
                   "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                            },
                  "columnDefs": [
                      {
                        "targets": 2,
                        "orderData": [ 2, 1 ]
                        },
                        {
                            "targets": 1,
                            "orderData": [ 1, 2 ],
                             "render": function ( data,type,row) {
                                url = '/personne/'+row[0];
                                return '<a href="'+url+'"> '+data+' </a>';
                            }
                        },
                       {
                            "targets": 6,
                            "render": function ( data,type,row) {
                                url = '/personneLieux/'+row[0];
                                return '<a href="'+url+'"> <i class="fas fa-map-marked-alt"></i></a>';
                            }
                        },
                    ]
              });
            });


        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                <!-- active ou desactive la class css active de sidebar-->
                $('#sidebar').toggleClass('active');
                    });
                });

        $('#filterID').submit(function() {
            $('#myModal').modal('hide');
        });


        //fonction pour vider le formulaire lorsque les champs sont remplis, ou les boutons cochés
        function clearForm(form) {
           var inputs = form.getElementsByClassName('curiosity-control');
           for (var i = 0; i<inputs.length; i++) {
                switch (inputs[i].type) {
                    // case 'hidden':
                    case 'text':
                        inputs[i].value = '';
                        break;
                    case 'radio':
                    case 'checkbox':
                    case 'search':
                        inputs[i].value = '';
                        break;
                            }
                    }
             $('select').val('1'); // vide le champs select-option
            return false;
                    }
        </script>
   {% endblock %}
{% endblock %}