{% extends "base.html" %}

{% block content %}



<div class="wrapper">

    <!-- Sidebar avec les filtres de recherche -->

    <nav id="sidebar" class="active"> <!--pour ne pas afficher la sidebar class="active"-->
        <div class="sidebar-header">
           <h5>Critères de recherche</h5>
         </div>
    <form id="filterID" method="POST" action="{{ url_for("index") }}">
    <!-- Sexe-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Sexe</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <label class="form-check">
                          <input class="form-check-input" type="checkbox" id="femme" name="sexe"
                                        value="Femme"
                               {% for sexeChecked in filtreTemporaire["Sexe"] %}
                                     {% if sexeChecked == "Femme" %}
                                            checked
                                      {% endif %}
                              {% endfor %}
                          >Femme
                        </label>
                        <label class="form-check">
                          <input class="form-check-input" type="checkbox" id="homme" name="sexe" value="Homme"
                                  {% for sexeChecked in filtreTemporaire["Sexe"] %}
                                     {% if sexeChecked == "Homme" %}
                                            checked
                                      {% endif %}
                              {% endfor %}>Homme
                        </label>
                        <label class="form-check">
                          <input class="form-check-input" type="checkbox" id="inconnu" name="sexe" value="Inconnu"
                           {% for sexeChecked in filtreTemporaire["Sexe"] %}
                                     {% if filtreSexe == "Inconnu" %}
                                            checked
                                      {% endif %}
                           {% endfor %}>Inconnu
                        </label>
                    </div>
                </div>
            </article>
        </div>
    <!--Metiers-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Catégories professionnelles</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="form-group scrollable">
                                {% for categ in categories %}
                                    {% if categ.souscategories %}
                                  <label class="form-check text-uppercase">
                                      <input type="checkbox" class="form-check-input" name="categorie" value="{{categ.labelCategorie}}"
                                        {% for categorieChecked in filtreTemporaire["categorie"] %}
                                             {% if categorieChecked == categ.labelCategorie %}
                                                    checked
                                              {% endif %}
                                        {% endfor %}
                                      >{{categ.labelCategorie}}
                                  </label>
                                    {% for souscategorie in categ.souscategories %}
                                        <label class="form-check ml-2">
                                            <input type="checkbox" class="form-check-input" name="souscategorie" value="{{souscategorie.labelSouscategorie}}"
                                             {% for souscategorieChecked in filtreTemporaire["souscategorie"] %}
                                                 {% if souscategorieChecked == souscategorie.labelSouscategorie %}
                                                        checked
                                                  {% endif %}
                                             {% endfor %}
                                            >{{souscategorie.labelSouscategorie}}
                                        </label>
                                    {% endfor %}
                                      {% else %}
                                   <label class="form-check text-uppercase">
                                      <input type="checkbox" class="form-check-input" name="categorie" value="{{categ.labelCategorie}}"
                                           {% for categorieChecked in filtreTemporaire["categorie"] %}
                                         {% if categorieChecked == categ.labelCategorie %}
                                                checked
                                          {% endif %}
                               {% endfor %}
                                      >{{categ.labelCategorie}}
                                  </label>
                                    {% endif %}
                              {% endfor %}
                        </div>
                    </div>
                </div>
            </article>
        </div>
    <!--Caractéristiques physiques-->
     <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Caractéristiques physiques</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="form-group scrollable">
                                {% for caracteristique in caracteristiquesPysiques %}
                                  <label class="form-check">
                                      <input type="checkbox" class="form-check-input" name="physique" value="{{caracteristique.labelCaracteristique}}"
                                      {% for physiqueChecked in filtreTemporaire["Caractéristiques physiques"]  %}
                                          {% if physiqueChecked == caracteristique.labelCaracteristique %}
                                          checked
                                          {% endif %}
                                      {% endfor %}
                                      >{{caracteristique.labelCaracteristique}}
                                  </label>
                              {% endfor %}
                        </div>
                    </div>
                </div>
            </article>
     </div>

     <!-- Accompagnés par epoux.se-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Accompagnés par epoux.se</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="row">
                        <div class="col"> <label class="form-check">
                              <input class="form-check-input" type="radio" name="epoux" value="oui"
                                     {% if filtreTemporaire["Accompagnés par epoux.se"]=="oui" %}
                                      checked
                                     {% endif %}
                              >Oui
                            </label></div>
                         <div class="col"> <label class="form-check">
                              <input class="form-check-input" type="radio" name="epoux" value="non"
                                      {% if filtreTemporaire["Accompagnés par epoux.se"]=="non" %}
                                      checked
                                     {% endif %}
                                 >Non
                            </label></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    <!-- Accompagnés par enfants-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Accompagnés par ses enfants</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="row">
                        <div class="col"> <label class="form-check">
                              <input class="form-check-input" type="radio" name="enfants" value="oui"
                                     {% if filtreTemporaire["enfants"]=="oui" %}
                                      checked
                                     {% endif %}
                              >Oui
                            </label></div>
                         <div class="col"> <label class="form-check">
                              <input class="form-check-input" type="radio" name="enfants" value="non"
                                      {% if filtreTemporaire["enfants"]=="non" %}
                                      checked
                                     {% endif %}
                                 >Non
                            </label></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
     <!-- Accompagnés par autres membres de la famille-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Accompagnés par autres membres de famille</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="row">
                        <div class="col"> <label class="form-check">
                              <input class="form-check-input" type="radio" name="membreFamille" value="oui"
                                     {% if filtreTemporaire["autre membre de famille"] =="oui" %}
                                      checked
                                     {% endif %}
                              >Oui
                            </label></div>
                         <div class="col"> <label class="form-check">
                              <input class="form-check-input" type="radio" name="membreFamille" value="non"
                                      {% if filtreTemporaire["autre membre de famille"]=="non" %}
                                      checked
                                     {% endif %}
                                 >Non
                            </label></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    <!-- Accompagnés par autres personnes-->
        <div class="card border-info mb-3 active">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Accompagnés par autres personnes</h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <div class="row">
                        <div class="col"> <label class="form-check">
                              <input class="form-check-input" type="radio" name="autrePersonne" value="oui"
                                     {% if filtreTemporaire["autre personnes"] == "oui" %}
                                      checked
                                     {% endif %}
                              >Oui
                            </label></div>
                         <div class="col"> <label class="form-check">
                              <input class="form-check-input" type="radio" name="autrePersonne" value="non"
                                      {% if filtreTemporaire["autre personnes"]== "non" %}
                                      checked
                                     {% endif %}
                                 >Non
                            </label></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    <!-- Bouton Activer Filter-->
        <button type="button" class="btn btn-secondary ml-2 col-5" onclick="clearForm(this.form)">Réinitialiser</button>
        <button type="submit" class="btn btn-info ml-1 col-6">Filtrer</button>
    </form>
    </nav>


<!-- Contenu de la page: l'index-->
    <div id="content">
    <!--Boutton Recherche avancée-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Filtres de recherche</span>
            </button>
            <span class="ml-2 text-center"><span class="text-muted">Filtres sélectionnés : </span>
                {% for key, value in filtreTemporaire.items() %} {{ key }}: <span class="text-success">{{ value }}</span>
                {% endfor %}
            </span>
        </div>
    </nav>
    <!-- Page Content avec l'index de personnes -->
          <div class="row">
            <div class="col-6"> <header class="page-header"><h1>Index des personnes</h1></header></div>
          </div>
            <form method="GET">
             <table id="curiosity" class="table" style="width:100%">
              <thead>
              <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Année de naissance</th>
                  <th>Passages</th>
              </tr>
          </thead>
          <tbody>
             {% for pers in personnes %}
              <tr>
                  <td>
                      {% if pers.nom %}
                      <a href="{{url_for('notice', identifier=pers.id)}}">{{ pers.nom }}</a>
                        {% else %} <a href="{{url_for('notice', identifier=pers.id)}}">non identifé</a>
                       {% endif %}
                  </td>
                  <td>{% if pers.prenom  %}
                      {{ pers.prenom }}
                        {% else %}
                      non identifé
                      {% endif %}
                  <td>
                    {% if pers.anneeNaissance %}
                    {{ pers.anneeNaissance }}
                    {% else %}
                    non identifée
                    {% endif %}
                </td>
               </td>
                    <td>
                      <a href="{{url_for('persLieux', identifier=pers.id)}}">Voir tous les lieux de passage de la personne</a>
                  </td>
              </tr>
            {% endfor %}
         </tbody>
        </table>
        </form>
        <script>
            $(document).ready(function() {
                $('#curiosity').DataTable( {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                            },
                     "lengthMenu": [ 25, 50, 75, 100 ]
                        } );
                    } );
            $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                <!-- active ou desactive la class css active de sidebar-->
                $('#sidebar').toggleClass('active');
                    });

                });
            function clearForm(form) {
               var inputs = form.getElementsByTagName('input');
                for (var i = 0; i<inputs.length; i++) {
                    switch (inputs[i].type) {
                        // case 'hidden':
                        case 'text':
                            inputs[i].value = '';
                            break;
                        case 'radio':
                        case 'checkbox':
                            inputs[i].checked = false;
                                }
                        }
                return false;
                    }
        </script>

    </div>

</div>

{% endblock %}