{% extends "base.html" %}

{% block content %}
 <div class="container">
         <header class="page-header"><h1>Lieux d'enregistrement</h1></header>

        <div id="mapid" style="height: 610px; width:100%"></div>

    </div>

        {% block scripts %}

               {% include "includes/dataTable.html" %}
               {% include "includes/map.html" %}

                <script>
                    // initialisation du cluster
                    var markerClusters = L.markerClusterGroup();
                    // récupération de la liste de lieux dans une variable js pour traitement front. |toJson transforme la liste dans un objet manipulable en js.
                    var lieux = {{ lieux|tojson }}
                    //récupère l'url de base avec un faux paramètre
                    var url= {{url_for("persParPass", id_villePassage = 1)|tojson }}

                for (var i=0; i<lieux.length; ++i)
                {
                    //récupère un objet lieu avec nom, coordonnes, id, etc
                    var lieu = lieux[i]
                    //reconstitue l'url final avec le bon param qui remplace le faux
                    var urlSplit = url.split("1")
                    var urlFinal = urlSplit[0] +lieu[2]

                    //le popup avec le nom de la ville, le nb de personne et le lien vers la liste des personnes
                    var curiosityPopup = '<b class="curiosity-popup">Lieu :</b> '+ '<span class="curiosity-popup">'+ lieu[1] + '</span>'+
                                      '<br/> <b class="curiosity-popup">Nombre de passages :</b> ' + '<a href="' + urlFinal + '" class="curiosity-popup" style="font-size:14px;">' + lieu[0] + '</a>'

                    //ajoute les informations au cluster
                    markerClusters.addLayer(L.marker( [lieu[3], lieu[4]], {icon: myIconBirth})
                                  .bindPopup(curiosityPopup)
                    );
                }
                    //met à jour la carte avec les clusters
                mymap.addLayer( markerClusters );

                </script>

        {% endblock %}
{% endblock %}