{% extends "base.html" %}


{% block content %}
      <!-- The Modal -->
    {% include 'includes/modal.html' %}



<form class="container form-once-only" method="POST" id="modificationPersFormId" action="{{url_for("modifier_personne", idPersonne= personne_origine.id)}}">
      <div class="row">
          <div class="col-12"> <header class="page-header"><h2>Page de modification de la personne suivante <small class="text-muted">{{ personne_origine.nom }}, {{ personne_origine.nom or "- non renseigné -" }}</small></h2></header></div>
      </div>
      <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" maxlength="64" value="{{ personne_origine.nom  or ''}}" required>
      </div>
      <div class="form-group col-md-6">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" maxlength="64" value="{{ personne_origine.prenom  or ''}}">
      </div>
   </div>
    <div class="form-row">
        <div class="form-group col-md-6" id="idDivNaissance">
        <label for="lieuNaissance">Lieu de naissance</label>
        <input type="text" class="form-control lieu-normalise-class" id="lieuNaissance" name="lieuNaissance"
                {% if personne_origine.lieux_naissance %}
               value="{{ personne_origine.lieux_naissance.nomLieuFr or '' }}, {{ personne_origine.lieux_naissance.departement or '' }}, {{ personne_origine.lieux_naissance.pays or '' }}, {{ personne_origine.lieux_naissance.id or ''}}"
                     {% endif %} onblur="myFunctionBlurFocusNaissance(value, id)">
        </div>

      <div class="form-group col-md-6" >
        <label for="anneeNaissance">Année de naissance</label>
        <input type="number" class="form-control" id="anneeNaissance" name="anneeNaissance"
               value="{{ personne_origine.anneeNaissance or ''}}">
      </div>
    </div>
    <div class="form-row">

      <div class="form-group col-md-6" id="idDivDeces">
        <label for="lieuDeces">Lieu de décès</label>
        <input type="text" class="form-control lieu-normalise-class"id="lieuDeces" name="lieuDeces"
               {% if personne_origine.lieux_deces %}
               value="{{ personne_origine.lieux_deces.nomLieuFr or ''}}, {{ personne_origine.lieux_deces.departement or ''}}, {{ personne_origine.lieux_deces.pays or ''}}, {{ personne_origine.lieux_deces.id or ''}}"
         {% endif %} onblur="myFunctionBlurFocusDeces(value, id)">

      </div>
      <div class="form-group col-md-6">
        <label for="dateDeces">Date du décès</label>
        <input type="date" class="form-control" id="dateDeces" name="dateDeces" value="{{ personne_origine. dateDeces or '' }}" >
      </div>

    </div>
<div class="form-group">
    <label for="sexe">Sexe (Choisir dans la liste ci-dessous)</label>
    <select class="form-control" name ="sexe" id="sexe" required>
     <option selected value="{{ personne_origine.sexe }}">{{ personne_origine.sexe }}</option>
      {% if "Inconnu" == personne_origine.sexe %}
      <option value="Femme">Femme</option>
      <option value="Homme">Homme</option>
      {% elif "Femme"==personne_origine.sexe %}
      <option value="Inconnu">Inconnu</option>
      <option value="Homme">Homme</option>
      {% else  %}
      <option value="Inconnu">Inconnu</option>
      <option value="Femme">Femme</option>
       {% endif %}
    </select>
  </div>

  <div class="form-group">
    <label for="certitude">Certitude des informations</label>
     <input type="text" class="form-control" id="certitude" name="certitude" maxlength="100" value="{{ personne_origine.certitudeNP or ''}}">
  </div>

  <div class="form-group">
    <label for="description">Observation du chercheur</label>
    <textarea type="text" class="form-control" id="description" name="description" rows="2">{{ personne_origine.observations or ''}}</textarea>
  </div>

        <button type="submit" class="btn btn-primary mt-3">Modifier</button>
</form>

  {% block scripts %}

  <script>

        var tagsLieux = {{ lieux|safe }};
        autocompleMultiple("#lieuNaissance", tagsLieux);

        autocompleMultiple("#lieuDeces", tagsLieux);


         function myFunctionBlurFocusNaissance(valeur, idHtml) {
                   removeValueWhenIncorrectPlace(tagsLieux, valeur, idHtml,"idDivNaissance" )
               }
         function myFunctionBlurFocusDeces(valeur, idHtml) {
                   removeValueWhenIncorrectPlace(tagsLieux, valeur, idHtml,"idDivDeces" )
               }

         removeEnterSubmit ("modificationPersFormId")

  //MODAL: FONCTIONS QUI PERMETENT DE CREER DES LIEUX DANS LA BASE DE DONNEES

     // ma fonction pour afficher la carte leaflet sans erreurs
      displayMapInModal("myModalPlace");
         </script>


  {% include "includes/map.html" %}
      <script>

        //generate map

    var theMarker = {};

     // implement autocomplete avec les lieux de Geonames
    $('#nomLieu').autocomplete({

    // Appel http geonames avec la fonction ajax
    source : function(requete, reponse){ // les deux arguments représentent les données nécessaires au plugin

	  $.ajax({
            url : 'https://secure.geonames.org/searchJSON', // on appelle le script JSON
            dataType : 'json', // on spécifie bien que le type de données est en JSON
            data : {
                name_startsWith : requete.term, // on donne la chaîne de caractère tapée dans le champ de recherche Nom lieu
                {% if current_user.username_geoname != "" %}
                username : '{{ current_user.username_geoname|safe }}',
                {% endif %}
                maxRows : 100, // nr d'éléments affichés
                lang : 'fr' // param lang pour avoir la version des noms en fr
            },

            success : function(donnee){
                reponse($.map(donnee.geonames, function(item){
                    return {
                      label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryCode +", " + item.fclName, // affiche les 4 éléments: lieu, region, code pays et type lieu. Pour le département il y a une condition
                                    // (item.adminName1 ? ", " + item.adminName1 : "") : si item.adminName1 (?) alors ","+ item.adminName1, sinon (:)  ""
						value: item.name,
                        lat: item.lat,
                        lng: item.lng,
                        pays: item.countryName,
                        region: item.adminName1,
                      geonameId : item.geonameId
                    }
                }));
            }
        });
    },
        select : function(event, ui){ // lors de la sélection d'une proposition on rajoute dans les inputs automatiquement
        $( '#lat' ).val( ui.item.lat );
        $( '#lng' ).val( ui.item.lng);
        $( '#pays' ).val( ui.item.pays);
        $( '#region' ).val( ui.item.region);
        $( '#idGeonames' ).val( ui.item.geonameId);
        regenerateMap(ui.item.lat, ui.item.lng)
    }
        });

   function updateMap() { // appliqué à l'événement onchange sur latitude et longitude
       var lat = document.getElementById("lat");
       var lng = document.getElementById("lng");
       regenerateMap(lat.value, lng.value) // les paramètres de la fonction représente la valeur de long et lat, pas les balises html long et lat
   }

   function regenerateMap (lat, long) {
       mymap.setView([lat, long], 10); // setView: objet de Leaflet qui fixe la vue de la carte sur la lat et lonf
       if (theMarker != undefined) { // si le marqueur est différent de null (car la première fois il n'existe pas)
           mymap.removeLayer(theMarker); //removeLayer:objet leaflet. supprime l'ancien marqueur de la carte
       };
       theMarker = L.marker([lat,long]).addTo(mymap); // L.marker: construot un nouveau marquer et l'ajoute à la carte
   }


           // vider le formulaire quand on ferme le modal
           $("#closeModal").click(function () {
               $("#creationPlaceFormId")[0].reset();
                $("#successAlert").hide(); // cache le message de succes de la creation du lieu
               $("#errorAlert").hide() // cache le message d'erreur de la creation du lieu
           })

           // send the form to the bdd. On click sur le boutton Sauvegarder
           $("#idBtnSavePlace").click(function () {
                        // récupère dans un objet de type dictionaire
                       var body = { "nomLieu": $("#nomLieu").val(),
                                   "pays": $("#pays").val(),
                                   "region": $("#region").val(),
                                   "depart": $("#depart").val(),
                                   "lat": $("#lat").val(),
                                   "lng": $("#lng").val(),
                                   "codeINSEE": $("#codeINSEE").val(),
                                   "idGeonames": $("#idGeonames").val()};
                       //initialise un appel HTTP avec la methode post
                       $.ajax(
                           {
                               url: "{{url_for("savePlace")}}", //l'url de la route défini dans flask
                               type:"POST",
                               dataType: 'json', // format des données envoyées
                               contentType: "application/json", // format des données envoyées
                               data: JSON.stringify(body), //transorme l'objet body dans un objet json
                              //si le retour est "success"
                               success: function (retourHttp) { //le retour serveur (avec 4 parametres) est utilisé dans la variable retourHttp
                                   if (retourHttp.codeRetour==="OK"){ // codeRetour est la deuxième variable de la methode json_response déclaré coté serveur.
                                        //mettre à jour la liste des lieux coté client pour l'autocomplete
                                       tagsLieux.push(retourHttp.nouveauLieuComplet); // nouveauLieuComplet: la quatrieme variable de la methode json_response
                                        $("#successAlert").text(retourHttp.message).show(); // affiche à l'ecran le message de succes de la creation du lieu
                                        $("#errorAlert").hide() // cahche la div qui affiche l'erreur
                                   }
                                   else { // Si le code n'est pas "OK"
                                        $("#errorAlert").text(retourHttp.message).show(); // affiche le message d'erreur dans la balise div associée avec l'erreur
                                        $("#successAlert").hide();
                                   }
                                   },
                               // si le retour est error ou echec, affiche un message 404
                                error : function (retourHttp) {
                                        $("#errorAlert").text(retourHttp.message).show();
                                        $("#successAlert").hide();
                                   }
                           });
                   })
 shadeButtonSubmit ()

           </script>

  {% endblock %}
{% endblock %}