{% extends "base.html" %}

{% block content %}
 <div class="container">
         <header class="page-header"><h1>Lieux de naissance </h1></header>

          <table id="curiosity" class="table" style="width:100%">
 <thead>
          <tr>
            <th>Nom du lieu</th>
            <th>Nombre de personnes nées dans ce lieu</th>
          </tr>
 </thead>
           <tbody>
           {% for lieu in lieux %} <!--.items nécessaire pour itérer dans le cas d'utilisation de la méthode paginate-->
              <tr>
                  <td>{{ lieu[1] }}</td>
                  <td><a href="{{ url_for("persParNaissance", id_villeNaissance = lieu[2]) }}">{{ lieu[0] }}</a></td>
              </tr>
            {% endfor %}
           </tbody>
        </table>
    </div>

        {% block scripts %}
            <!--test datatables-->
           {% include "includes/dataTable.html" %}
        {% endblock %}

{% endblock %}