{% extends "base.html" %}

{% block content %}

 <div class="container-fluid">
         <!-- En-tête: Nom, Prénom et boutton de suppression de la personne (class Personne) -->
        <div class="container">
            {%if unique %}
            <div class="row">
                <div class="col">
                  <header class="page-header">
                    <h2>
                        {% if not unique.nom %}
                            Nom non identifié,
                        {% else %}
                            {{unique.nom}},
                        {% endif %}
                       {% if not unique.prenom %}
                           prénom non identifié
                       {% else %}
                            {{unique.prenom}}
                       {% endif %}
                    </h2>
                  </header>
                </div>
            {% if current_user.is_authenticated %}
                <div class="col"> <a href="{{ url_for("deletePers", nr_personne = unique.id) }}" id ="suppressPerson" class="btn btn-danger" onclick="suppressPerson({{ detailsRegistres|length }})">Supprimer la personne</a></div>
                <div class="col"> <a href="{{ url_for("modifier_personne", idPersonne = unique.id) }}" id ="modifyPerson" class="btn btn-success">Modifier la personne</a></div>
            {% endif %}
            </div>
            {% endif %}
       </div>

        <!-- Affichage des données uniques de la personne (class Personne) -->
        <div class="container">
            <div class="row">
                  <!-- Affichage du code unique -->
              <div class="col-4"> <p class="font-weight-bold">Identifiant de la personne</div>
              <div class="col-8">{{unique.id}}</div>

                <!-- Affichage du sex -->
                <div class="col-4"> <p class="font-weight-bold">Sexe</div>
                <div class="col-8">{{unique.sexe}}</div>

                <!-- Affichage de la date de naissance avec condition -->
              {% if not unique.anneeNaissance %}
                  <div class="col-4"> <p class="font-weight-bold">Année de naissance</p></div>
                  <div class="col-8">- non renseigné -</div>
              {% else %}
                  <div class="col-4"> <p class="font-weight-bold">Année de naissance</p></div>
                  <div class="col-8">{{unique.anneeNaissance}}</div>
                  {% endif %}

                <!-- Affichage du lieu de naissance avec condition -->
              {% if not unique.id_lieuxNaissance %}
                  <div class="col-4"> <p class="font-weight-bold">Lieu de naissance</p></div>
                  <div class="col-8">- non renseigné -</div>
              {% else %}
                  <div class="col-4"> <p class="font-weight-bold">Lieu de naissance</p></div>
                  <div class="col-8">{{unique.lieux_naissance.nomLieuFr}}</div>
                  {% endif %}

              <!-- Affichage du lieu du décès -->
              {% if unique.id_lieuDeces %}
                  <div class="col-4"> <p class="font-weight-bold">Lieu du décès</p></div>
                  <div class="col-8">{{unique.lieux_deces.nomLieuFr}}</div>
              {% endif %}

              <!-- Affichage de la date du décès -->
              {% if unique.dateDeces %}
                  <div class="col-4"> <p class="font-weight-bold">Date du décès</p></div>
                  <div class="col-8">{{unique.dateDeces}}</div>
              {% endif %}

             <!-- Affichage du champs observation -->
              {% if unique.observations %}
                  <div class="col-4"> <p class="font-weight-bold">Observation du chercheur</p></div>
                  <div class="col-8">{{unique.observations}}</div>
              {% endif %}

             <!-- Affichage du champs certitude -->
              {% if unique.certitudeNP %}
                  <div class="col-4"> <p class="font-weight-bold">Commentaires sur la certitude de l'information</p></div>
                  <div class="col-8">{{unique.certitudeNP}}</div>
              {% endif %}

                 <!-- Affichage des metiers déclarés et des caractéristiques physiques -->
              {% if detailsRegistres %}
                  <div class="col-4"> <p class="font-weight-bold">Professions déclarés</p></div>
                  <div class="col-8">
                      {% for metier in listeProfessionUnique %}
                          {% if metier %}
                          {{metier}} ;
                          {% endif %}
                      {% endfor %}
                   </div>
                  <div class="col-4"> <p class="font-weight-bold">Caractéristiques physiques déclarées</p></div>
                  <div class="col-8">
                      {% for physique in listePhysiqueUnique %}
                          {% if physique %}
                          {{physique}} ;
                          {% endif %}
                      {% endfor %}
                   </div>
              {% endif %}

            {% if detailsRegistres %}
             <div class="col-4">
                 <button class="btn btn-outline-success add-new-line font-weight-bold btn-sm" type="button">
                     <a href="{{url_for('persLieux', identifier=unique.id)}}">Voir tous les lieux de passage de la personne</a>
                 </button>
             </div>
             {% endif %}
             </div>
        {% if  unique.authorshipPers  %}
                 <blockquote class="blockquote text-right">
                  <p class="small">Notice de personne créé par</p>
                  <footer class="blockquote-footer small">{% for auteur in unique.authorshipPers %}
                      {% if auteur.role=="creator" %}{{ auteur.users.prenom }} {{ auteur.users.nom }}<cite> le {{ auteur.date }}</cite>{% endif %}{% endfor %} </footer>
                </blockquote>
        {% endif %}
        </div>


        <!-- Affichage des détails des registres (class Details Registre) -->
        <div class="container small">

            {% if detailsRegistres %}
             <!--Titres et Boutton creation registre -->
              <header class="page-header">
                  <h3 class="pb-2 mt-3"><small class="text-muted">Voir les détails d'enregistrement</small></h3>
              </header>
            {% endif %}

             <!--Liste registres en accordeon -->
              <div class="mb-4">
                <div id="accordion" class="accordion">
                  {% for registreUnique in detailsRegistres %}
                      <div class="card">

                        <!-- Affichage du lieu de passage et de la date d'enregistrement (class lieuxDeclares) -->
                        <div class="card-header_curiosity collapsed" data-toggle="collapse" href="#collapse{{ registreUnique.id }}" >
                            {% for lieu in registreUnique.lieuxDeclares %}
                                {% if lieu.typeLieu =="Enregistrement" %}
                                    <a class="card-link" > Notice enregistrée à {{ lieu.lieux.nomLieuFr }} le {{ lieu.date }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div id="collapse{{ registreUnique.id }}" class="collapse" data-parent="#accordion">

                            {% include 'includes/registre-unique.html' %}

                      </div>
                  </div>

                  {% endfor %}
                </div>
                  {% if current_user.is_authenticated %}
                    <div class="mt-2">
                        <a href="{{ url_for("creer_registre",  idPersonne=unique.id) }}" class="btn btn-info" onclick="">
                            {% if detailsRegistres %}
                            Créer un nouvel enregistrement
                            {% elif current_user.is_authenticated %}
                            Créer un enregistrement
                            {% endif %}
                        </a>
                    </div>
                  {% endif %}
              </div>

        </div>
             <script>
                     function suppressPerson(nombreRegistre){
                        var link_a_pers = document.getElementById("suppressPerson");
                        if (nombreRegistre === 0) {
                           if (confirm('Etes-vous sûr(e) de vouloir supprimer la notice?\nCette opération risque de supprimer le lien avec la personne d\'accompagnement\nL\'action est irréversible')===false ){
                               link_a_pers.setAttribute('href', "");
                           }

                        } else {
                           alert('Pour supprimer la notice de la personne, supprimer d\'abord les registres')
                           link_a_pers.setAttribute('href', "");
                           }
                    }

             </script>

 </div>

{% endblock %}