{% extends "base.html" %}

{% block content %}

    <div class="container">
         <header class="page-header"><h1>Catégorie professionnelle : {{categorie.labelCategorie}}</h1></header>
    </div>

    <div class="container">

     <p class="lead">Il y a <strong>{{personneCat.total}}</strong> personne(s) qui exerce(nt) cette activité</p>
        <ul class="list-group">
        {% for pers in personneCat.items %}
            <li class="list-group-item"><a href="{{ url_for('notice', identifier=pers[0]) }}">{{ pers[1] }}, {{ pers[2] }}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div class="container">
            <div class="mt-4">
                <nav aria-label="research-pagination">
                    <ul class="pagination justify-content-center">
                    {% if personneCat.has_prev %}
                     <li class="page-item">
                         <a class="page-link" href="{{ url_for('persCat', identifier = categorie.id, page=personneCat.prev_num) }}">Précédent</a> <!-- Le lien URL est du type http:...../index?page=2-->
                     </li>
                    {% endif %}
                    {% for i in personneCat.iter_pages(left_current=2, right_current=5) %} <!-- boucle sur toutes les pages potentielles des personnes-->
                       {% if i %}
                                {% if i != personneCat.page %} <!-- Si chaque page est diférente de la page actuelle (récupérer par le parametre page de l'objet personnes)-->
                               <li class="page-item">
                                <a class="page-link" href="{{ url_for('persCat', identifier = categorie.id, page=i) }}">{{i}}</a> <!-- Le lien URL est du type http:...../index?page=2-->
                              </li>
                                {% else %}
                              <li class="page-item active disabled">
                                <a class="page-link">Page {{i}}</a>
                              </li>
                                {% endif %}
                        {% else %}
                             <li class="page-item disabled">
                              <a class="page-link">...</a>
                            </li>
                        {% endif %}

                    {% endfor %}
                    {% if personneCat.has_next %}
                     <li class="page-item">
                         <a class="page-link" href="{{ url_for('persCat', identifier = categorie.id, page=personneCat.next_num) }}">Suivant</a> <!-- Le lien URL est du type http:...../index?page=2-->
                     </li>
                    {% endif %}
                    </ul>
               </nav>
          </div>
    </div>

{% endblock %}