{% extends "base.html" %}

{% block content %}

    <div class="container">
     <p class="lead">Il y a <strong>{{ personnes.total }}</strong> personnes uniques nées dans la ville : {{ villeNaissance.nomLieuFr }}</p>
        <ul class="list-group">
        {% for pers in personnes.items %}
            <li class="list-group-item"><a href="{{ url_for('notice', identifier=pers[0]) }}">{{ pers[1] }}, {{ pers[2] }}</a></li>
        {% endfor %}
        </ul>
          {% include "includes/pagination.html" %}
    </div>
{% endblock %}