{% extends "base.html" %}
{% block content %}
    <div class="container">
    <h1>Inscription</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }} <!--lance le formulaire grace à l'instantiation de la classe LoginForm de routes.py -->
          <p>
            {{ form.nom.label }}<br> <!--ici on visualise le le nom username grâce à label -->
            {{ form.nom(size=32) }}<br> <!-- ici on visualise le champs de saisie de username -->
            {% for error in form.nom.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
     <p>
            {{ form.prenom.label }}<br> <!--ici on visualise le le nom username grâce à label -->
            {{ form.prenom(size=32) }}<br> <!-- ici on visualise le champs de saisie de username -->
            {% for error in form.prenom.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

    <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
     <p>
            {{ form.username_geoname.label }}<br>
            {{ form.username_geoname(size=64) }}<br>
            {% for error in form.username_geoname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }} <br><!-- size représente un paramètre. On peut rajouter d'autres paramètres -->
             {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }} <br><!-- size représente un paramètre. On peut rajouter d'autres paramètres -->
             {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}
