{% extends "base.html" %}

{% block content %}

    <div class="container">
    {% if keyword != '' %}
    <h3 class="mb-2">Le résultat de la recherche : {{keyword}}</h3>
    {% if personnes|length > 0 %}
        <p class="lead">Il y a {{personnes|length}} personnes(s) qui répond(ent) à votre requête :</p>
        <ul class="list-group">
            {% for resultat in personnes %}
                <li><a href="{{url_for("notice", identifier=resultat[0].id)}}"> {{resultat[0].nom}}, {{resultat[0].prenom or ' -- '}}, (Id: {{resultat[0].id}}).</a>
                    Né en {{ resultat[0].anneeNaissance or ' -- ' }}
                    {% for annee in resultat[2]  %}
                        <!-- si l'année déclaré des registres est identitique à l'année officielle de la personne, ne pas afficher l'année-->
                        {% if annee != resultat[0].anneeNaissance %}
                            ( {{  annee }})
                        {% endif %}
                      {% endfor %}
                    à {{ resultat[0].lieux_naissance.nomLieuFr or ' -- ' }}. Metier(s): {{ resultat[1]|join(", ") or ' -- ' }}.</li>
            {% endfor %}
        </ul>
    {% else %}
          <p class="mt-5 mb-2" style="font-size : 20px">Aucun résultat</p>
    {% endif %}
    {% else %}
    <h3 class="mb-2">Vous n'avez saisi aucun mot-clé</h3>
    {% endif %}
    </div>
{% endblock %}