{% extends "base.html" %}

{% block content %}


 <div class="container-fluid">
   <!-- En-tête: Nom, Prénom et boutton de suppression de la personne (class Personne) -->
     <div class="container">
            {%if unique %}
            <div class="row">
                <div class="col">
                  <header class="page-header">
                    <h2>
                        {% if not unique.nom %}
                            Nom non identifié,
                        {% else %}
                            {{unique.nom}},
                        {% endif %}
                       {% if not unique.prenom %}
                           prénom non identifié
                       {% else %}
                            {{unique.prenom}}
                       {% endif %}
                    </h2>
                  </header>
                </div>
            </div>
            {% endif %}
       </div>
        <!-- Affichage des données uniques de la personne (class Personne) -->
     <div class="container">
            <div class="row">
              <!-- Affichage du code unique -->
              <div class="col-4"> <p class="font-weight-bold">Code unique</div>
              <div class="col-8">{{unique.id}}</div>
               <!-- Affichage du code unique -->
                <div class="col-4"><button class="btn btn-outline-success add-new-line font-weight-bold btn-sm" type="button"><a href="{{url_for('notice', identifier=unique.id)}}">Voir la notice détaillée</a></button></div>

            </div>
        </div>
        <!-- Affichage des détails des registres (class Details Registre) -->
     <div class="container small">
             <!--Titres  -->
             <header class="page-header">
                  <h3 class="pb-2 mt-3"><small class="text-muted">Tous les lieux de passage de la personne</small></h3>
             </header>

     <div id="mapid" class="mb-3" style="height: 410px; width:60%"></div>

        <table id="curiosity" class="table" style="width:100%">
          <thead>
              <tr>
                <th>Nom du lieux normalisé</th>
                <th>Date</th>
                <th>Type de lieu</th>
              </tr>
          </thead>
          <tbody>
          <tr>
              {% if unique.lieux_naissance %}
              <td>
                 {{ unique.lieux_naissance.nomLieuFr  }}
              </td>
              <td>
                  {{ unique.anneeNaissance }}
              </td>
              <td>
                  Naissance (officiel)
              </td>
              {% endif %}
          </tr>
                  {% for lieuDeclare in listeLieu %}
                        <tr>
                            {% if lieuDeclare.lieux.nomLieuFr %}
                              <td>
                              {{ lieuDeclare.lieux.nomLieuFr }}
                              </td>
                            {% else %}
                            <td>
                               - illisibile -
                            </td>
                            {% endif %}
                            {% if lieuDeclare.date %}
                            <td>
                                {{lieuDeclare.date}}
                            </td>
                            {% else %}
                            <td> non renseignée</td>
                            {% endif %}
                            {% if lieuDeclare.typeLieu %}
                            <td>
                                {{lieuDeclare.typeLieu}}
                            </td>
                            {% else %}
                            <td> non renseignée</td>
                            {% endif %}
                        </tr>
                  {% endfor %}
          </tbody>
        </table>
     </div>



 {% block scripts %}
     {% include "includes/dataTable.html" %}
     {% include "includes/map.html" %}
      <script>

            // ajouter le lieux de naissance négocié de la table personne
                {% if unique.lieux_naissance %}
                        L.marker([{{unique.lieux_naissance.lat}},{{unique.lieux_naissance.lng}}], {icon: myIconBirth}).bindPopup("Lieu de naissance: {{ unique.lieux_naissance.nomLieuFr}}").addTo(mymap);
             {% endif %}

                //boucle sur les toutes les villes de passage et ajouter un marqueur sur la carte
                {% for registre in unique.registresPers %}
                    {% for lieuDeclare in registre.lieuxDeclares %}
                        // ajouter les marqueur seulement si le registre contient des lieux normalisés
                        {% if lieuDeclare.lieux %}
                            L.marker([{{lieuDeclare.lieux.lat}},{{lieuDeclare.lieux.lng}}]).bindPopup("{{ lieuDeclare.lieux.nomLieuFr}}").addTo(mymap);
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </script>

        {% endblock %}
 </div>

{% endblock %}